#======== File I/O ===============
InputFile                     : ../../origCfP/BQSquare_416x240_60.yuv
InputBitDepth                 : 8           # Input bitdepth
FrameRate                     : 60          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 416         # Input  frame width
SourceHeight                  : 240         # Input  frame height
FramesToBeEncoded              : 600         # Number of frames to be coded
