#======== File I/O ===============
InputFile                     : ChinaSpeed_1024x768_30.yuv
InputBitDepth                 : 8           # Input bitdepth
FrameRate                     : 30          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 1024        # Input  frame width
SourceHeight                  : 768         # Input  frame height
FramesToBeEncoded              : 500         # Number of frames to be coded
