#======== File I/O ===============
InputFile                     : SteamLocomotiveTrain_2560x1600_60_10bit_crop.yuv
InputBitDepth                 : 10          # Input bitdepth
FrameRate                     : 60          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 2560        # Input  frame width
SourceHeight                  : 1600        # Input  frame height
FramesToBeEncoded              : 300         # Number of frames to be coded
