#======== File I/O ===============
InputFile                     : ../../origCfP/vidyo1_1280x720_60.yuv
InputBitDepth                 : 8           # Input bitdepth
FrameRate                     : 60          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 1280        # Input  frame width
SourceHeight                  : 720         # Input  frame height
FramesToBeEncoded              : 600         # Number of frames to be coded
